@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #DDE6ED;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width:100%;
    max-width: 593px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentecao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.apresentacao__botoes__subtitulo {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__botao{
    display: flex;
    background-image: -webkit-linear-gradient(45deg, #22D4FD 50%, transparent 50%);
    background-image: linear-gradient(45deg, #22D4FD 50%, transparent 55%);
    background-position: 100%;
    background-size: 400%;
    transition: background 450ms ease-in-out;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 300px;
    text-align: left;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family:'Fira Sans', sans-serif ;
}

.apresentacao__links__botao:hover {
    background-position: 0;
}

.apresentacao__links__botao:hover .apesentacao__botoes__botao__texto {
    visibility: hidden;
    transition: 0.2s;
}

.apresentacao__links__botao:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(2px);
}

.rodape {
    padding: 30px;
    background-color: #22D4FD;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: 400;
}

.rodape__nome {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .apresentacao {
        flex-direction: column;
        padding: 5% 10%;
    }

    .apresentacao__conteudo {
        max-width: 100%;
        text-align: center;
    }

    .apresentacao__links {
        align-items: center;
        text-align: center;
    }

    .apresentacao__links__botao {
        width: 100%;
    }
}
